<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    <section class="signup">
        <div class="container">
            <form id="form" action="/user/signup" method="post">
                <label for="username">User Name</label><br/>
                <input type="text" name="username" id="username" required>
                <br/><br/>
                <label for="email">Email</label><br/>
                <input type="email" name="email" id="email" required>
                <br/><br/>
                <label for="password">Password</label><br/>
                <input type="text" name="password" id="password" required>
                <br/><br/>
                <select name="role" id="role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <br/><br/>
                <button type="submit">Signup</button>
            </form>
        </div>
    </section>
</body>
</html>